*{
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    background-image: url('ocean.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
}

#tab {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#tab span {
    font-size: 2rem;
    color: red;
    text-shadow: 1px 1px 2px black;
}

canvas:first-of-type {
    opacity: 0.4;
    z-index: 1;
}

canvas:not(:first-of-type) {
    z-index: 10;
}

canvas{
    max-width: 100vw !important;
    height: 101vh !important;
}

#pause {
    cursor: pointer;
}

#score {
    margin-right: 50px;
}

.pisca {
    opacity: 0;
    animation: pisca 1s 4;
}

@keyframes pisca {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }
    
    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.hidden {
    display: none;
}